* {
  border: none;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Slab", serif;
  list-style-type: none;
}

.header {
  background-image: url(../images/bgrndimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.navlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 0%;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.navlist--footer {
  background-image: url(../images/Mountains.png);
  background-position: center;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  color: rgba(0, 0, 0, 0.8509803922);
  padding: 4% 0%;
}

.block {
  background-color: rgba(0, 0, 0, 0.8509803922);
  opacity: 0.98;
}

.logo {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
.logo--footer {
  color: rgba(0, 0, 0, 0.8509803922);
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
.list > :not(:last-child) {
  padding-right: 30px;
}
.list .eng {
  display: flex;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.social > :not(:last-child) {
  padding-right: 30px;
}

.banner-wrapper {
  display: flex;
  min-height: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.banner-wrapper__small {
  min-height: 760px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  text-align: center;
  max-width: 65%;
  padding: 40px;
}
.banner h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 84px;
  text-transform: uppercase;
}
.banner p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding: 20px 0px;
}
.banner__small h4 {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
}
.banner__small h1 {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
}
.banner__small p {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.banner__small span {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 30px 0px;
  border-top: 3px solid #FFFFFF;
}
.banner__black {
  color: rgba(0, 0, 0, 0.8509803922);
}

.btn {
  background-color: #1ED400;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.btn__banner {
  padding: 20px 100px;
}
.btn__small {
  padding: 15px 80px;
}

.article {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4%;
}
.article h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
}
.article p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 35px 230px;
}

.promo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  grid-gap: 2%;
}
.promo li {
  display: grid;
  grid-template-rows: 30px 120px 155px;
  color: #1ED400;
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  justify-items: center;
  align-items: center;
}
.promo li span {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8509803922);
}

.barcelona {
  background-image: url(../images/barcelona.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.media-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0%;
}
.media-wrapper h4 {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
}
.media-wrapper div {
  padding: 1% 0%;
  text-align: center;
}
.media-wrapper--green {
  background-image: url(../images/fish.png);
  color: #FFFFFF;
  background-position: center;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-bottom: 0%;
  background-repeat: no-repeat;
}

.media-string {
  display: flex;
  justify-content: space-between;
  padding: 5% 0%;
  align-items: center;
}

.media-container {
  position: relative;
  max-width: 30%;
}
.media-container span {
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8509803922);
  color: #FFFFFF;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  border: 5px solid rgba(0, 0, 0, 0.8509803922);
}
.media-container .play-btn {
  position: absolute;
  top: 40%;
  left: 45%;
  cursor: pointer;
}
.media-container img {
  max-width: -webkit-fill-available;
}
.media-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.media-container--little {
  max-width: 27%;
}/*# sourceMappingURL=travellanding.css.map */