$black-color: rgba(0, 0, 0, 0.8509803922);
$white-color: #FFFFFF;
$green-color: #1ED400;

* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-family: "Lora", serif;
    font-family: "Quicksand", sans-serif;
    font-family: "Roboto Slab", serif;
    list-style-type: none;
}

.header {
    background-image: url(../images/bgrndimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: fit-content;
    width: 100%;

    // min-height: 800px;
}

.navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0%;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;

    &--footer {
        background-image: url(../images/Mountains.png);
        background-position: center;
        background-size: cover;
        height: fit-content;
        width: 100%;
        color: $black-color;
        padding: 4% 0%;
    }
}

.block {
    background-color: $black-color;
    opacity: 0.98;
}

.logo {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;

    &--footer {
        color: $black-color;
    }
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;

    &>:not(:last-child) {
        padding-right: 30px;
    }

    .eng {
        display: flex;
    }

}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &>:not(:last-child) {
        padding-right: 30px;
    }
}

.banner-wrapper {
    display: flex;
    min-height: 800px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    &__small {
        min-height: 760px;
    }

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white-color;
    text-align: center;
    max-width: 65%;
    padding: 40px;

    h1 {
        font-family: "Lora", serif;
        font-weight: 700;
        font-size: 84px;
        text-transform: uppercase;
    }

    p {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 24px;
        padding: 20px 0px;
    }

    &__small {
        h4 {
            text-transform: uppercase;
            font-family: "Roboto Slab", serif;
            font-size: 56px;
            font-weight: 700;
        }

        h1 {
            font-family: "Roboto Slab", serif;
            font-size: 144px;
            font-weight: 700;
        }

        p {
            font-family: "Quicksand", sans-serif;
            font-size: 24px;
            font-weight: 400;
        }

        span {
            font-family: "Quicksand", sans-serif;
            font-size: 32px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 30px 0px;
            border-top: 3px solid $white-color;
        }
    }

    &__black {
        color: $black-color;
    }

}

.btn {
    background-color: $green-color;
    color: $white-color;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;

    &__banner {
        padding: 20px 100px;
    }

    &__small {
        padding: 15px 80px;
    }
}

.article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4%;

    h1 {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        font-size: 56px;
        text-transform: uppercase;

    }

    p {
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-size: 20px;
        padding: 35px 230px;
    }
}

.promo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 100px;
    grid-gap: 2%;

    li {
        display: grid;
        grid-template-rows: 30px 120px 155px;
        color: $green-color;
        font-family: "Roboto Slab", serif;
        font-size: 144px;
        font-weight: 700;
        justify-items: center;
        align-items: center;

        span {
            font-family: "Quicksand", sans-serif;
            font-weight: 400;
            font-size: 40px;
            color: $black-color;
        }
    }
}

.barcelona {
    background-image: url(../images/barcelona.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: fit-content;
    width: 100%;

}

// .media {
//     padding: 3%;
// }

.media-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0%;

    h4 {
        text-transform: uppercase;
        font-family: "Roboto Slab", serif;
        font-size: 56px;
        font-weight: 700;
    }

    p {
        padding: 2% 0%;
    }

    &--green {
        background-image: url(../images/fish.png);
        color: $white-color;
        background-position: center;
        background-size: cover;
        height: fit-content;
        width: 100%;

        padding-bottom: 0%;
        background-repeat: no-repeat;
    }

}

.media-string {
    display: flex;
    justify-content: space-between;
    padding: 5% 0%;
    align-items: center;

    // &--little:first-child,
    // &--little:last-child {
    //     max-width: 27%;
    // } хуйня, не работает. Подумать ещё.
}

.media-container {
    position: relative;
    max-width: 30%;


    span {
        position: absolute;
        top: 6px;
        left: 8px;
        background-color: $black-color;
        color: $white-color;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 400;
        border: 5px solid $black-color;
    }

    .play-btn {
        position: absolute;
        top: 40%;
        left: 45%;
        cursor: pointer;
    }

    img {
        max-width: -webkit-fill-available;
    }

    p {
        font-family: "Quicksand", sans-serif;
        font-size: 14px;
        font-weight: 500;
    }

    &--little {
        max-width: 27%;
    }

}